a {
  text-decoration: none;
  color: #506a85;
}

a:hover {
  color: #00bc9c;
}

.cf::before,
.cf::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 1170px;
  margin: 0 auto;
}

.wrapper {
  min-width: 1170px;
}

.header__header {
  height: 42px;
  font-size: 12px;
  background-color: #f5f7fa;
}

.header__wrapper {
  margin: 0 auto;
}

.header__info {
  padding: 14px;
  float: left;
}

.header__info > li:not(:first-child) {
  margin-left: 26px;
}

.header__info > li {
  display: inline-block;
}

.header__address {
  text-decoration: none;
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: 20px;
}

.header__address:before {
  position: absolute;
  left: 0;
  width: 12px;
  height: 13px;
  top: 2px;
  content: "";
}

.header__address:hover {
  color: #00bc9c;
}

.header__address:before {
  background-image: url(../img/header/icon-mail-off.png);
}

.header__address:hover:before {
  background-image: url(../img/header/icon-mail-on.png);
}

.header__tel {
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: 20px;
}

.header__tel:before {
  position: absolute;
  left: 0;
  width: 12px;
  height: 13px;
  top: 2px;
  content: '';
}

.header__tel:hover {
  color: #00bc9c;
}

.header__tel:before {
  background-image: url("../img/header/icon-tel-off.png");
}

.header__tel:hover:before {
  background-image: url(../img/header/icon-tel-on.png);
}

.header__sns {
  float: right;
}

.header__sns > li {
  float: left;
}

.header__sns__list {
  display: block;
  font-size: 12px;
  position: relative;
  width: 26px;
  height: 42px;
  /*float: left;*/
}

.header__sns__list.sns__facebook:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-facebook-off.png");
}

.header__sns__list.sns__facebook:hover {
  background-color: #4668b3;
}

.header__sns__list.sns__facebook:hover:before {
  background-image: url("../img/header/icon-facebook-on.png");
}

.header__sns__list::before {
  content: '';
  background: no-repeat center;
}

.header__sns__list.sns__google:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-google-off.png");
}

.header__sns__list.sns__google:hover {
  background-color: #de5745;
}

.header__sns__list.sns__google:hover:before {
  background-image: url("../img/header/icon-google-on.png");
}

.header__sns__list.sns__twitter:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-twitter-off.png");
}

.header__sns__list.sns__twitter:hover {
  background-color: #2fbbed;
}

.header__sns__list.sns__twitter:hover:before {
  background-image: url("../img/header/icon-twitter-on.png");
}

.header__sns__list.sns__pinterest:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-pinterest-off.png");
}

.header__sns__list.sns__pinterest:hover {
  background-color: #d94348;
}

.header__sns__list.sns__pinterest:hover:before {
  background-image: url("../img/header/icon-pinterest-on.png");
}

.header__sns__list.sns__behance:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-behance-off.png");
}

.header__sns__list.sns__behance:hover {
  background-color: #3079ff;
}

.header__sns__list.sns__behance:hover:before {
  background-image: url("../img/header/icon-behance-on.png");
}

.header__sns__list.sns__dribbble:before {
  position: absolute;
  width: 26px;
  height: 42px;
  top: 0;
  background-image: url("../img/header/icon-dribbble-off.png");
}

.header__sns__list.sns__dribbble:hover {
  background-color: #eb6397;
}

.header__sns__list.sns__dribbble:hover:before {
  background-image: url("../img/header/icon-dribbble-on.png");
}

.reen {
  float: left;
  background-image: url("../img/header/logo.png");
}

.header__footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.header__menu {
  float: right;
}

.header__menu > li {
  float: left;
  margin-left: 44px;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}

.reen:hover {
  opacity: 0.6;
}

.main__image {
  height: 850px;
  background-image: url("../img/main/keyvisual.jpg");
}

h1 {
  font-size: 78px;
  color: #fff;
  text-align: center;
  padding-top: 300px;
}

.main__word {
  margin-top: 20px;
  text-align: center;
  color: #a3b1bf;
  font-size: 24px;
}

.mb50 {
  margin-bottom: 50px;
}

.btn-large {
  width: 300px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px #00bc9c;
  line-height: 60px;
}

.btn {
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: #00bc9c;
  color: #fff;
  transition: all .3s;
  top: 0;
  box-shadow: 0px 2px 0px 1px #00a085;
  border: none;
}

.btn:hover {
  box-shadow: none;
  transform: translate3d(0,2px,0);
}

.btn.btn-lager:hover {
  top: 3px;
}

.mb300 {
  margin-bottom: 300px;
}

.h3__title {
  text-align: center;
  font-size: 44px;
  margin-bottom: 30px;
  color: #506a85;
  margin-top: 120px;
}

.mb70 {
  margin-bottom: 70px;
}

.section__word {
  color: #506a85;
  text-align: center;
  font-size: 22px;
}

.three__word {
  font-size: 0;
}

.three__word__title {
  font-size: 26px;
  margin-bottom: 20px;
}

.three__word > li {
  color: #506a85;
  font-size: 16px;
  padding-left: 80PX;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 40px;
  line-height: 25px;
}

.passion {
  background: url("../img/main/description-passion.png")no-repeat;
}

.creativity {
  background: url("../img/main/description-creativity.png") no-repeat left top;
}

.quality {
  background: url("../img/main/description-quality.png")no-repeat;
}

.check__work {
  background-color: #f5f7fa;
  padding: 60px;
  min-width: 1170px;
}

.work__wrapper {
  width: 1210px;
  margin: 0 auto;
}

.work__inner {
  margin: 0　auto;
  font-size: 0;
}

.work__body {
  border-left: 1px solid #506a85;
  border-right: 1px solid #506a85;
  border-bottom: 1px solid #506a85;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}

.main__mask {
  width: 570px;
  height: 391px;
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: #00bc9c;
  transition: all 0.2s ease;
}

.mask__word {
  font-size: 50px;
  text-align: center;
  padding-top: 170px;
  color: #fff;
}

.work__title {
  font-size: 20px;
}

.work__title__mini {
  font-size: 14px;
  color: #506a85;
}

.work__grid {
  margin: 0 auto;
}

.work__main {
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
}

.work__sub {
  position: relative;
  display: block;
}

.work__sub__mask {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 185px;
  background-color: #00bc9c;
  opacity: .9;
  color: #fff;
  font-size: 16px;

}
.work__sub__mask__cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  width: 100%;
  height: 100%;
}

.work__sub:hover .work__sub__mask {
  display: table;
}

.work__hover::before {
  display: block;
  position: absolute;
  background-color: #00bc9c;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  opacity: 0;
}

.work__hover:after {
  position: absolute;
  font-color: #fff;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "+";
  font-size: 30px;
  text-align: center;
  top: 50%;
}

.main__hover {
  position: relative;
}

.main__hover:hover .main__mask {
  opacity: 0.8;
}

.work__body {
  border-left: 1px solid #506a85;
  border-right: 1px solid #506a85;
  border-bottom: 1px solid #506a85;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}

.mb120 {
  margin-bottom: 120px;
}

.pd10 {
  padding: 10px;
}

.mb80 {
  margin-bottom: 80px;
}

.btn-middle {
  width: 300px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px #00bc9c;
  line-height: 60px;
  text-align: center;
}

.btn.btn-middle:hover {
  top: 3px;
}

.mr120 {
  margin-left: 420px;
}

.footer {
  min-width: 1170px;
}

.footer__header {
  padding: 75px 0;
  background-color: #354859;
}

.footer__inner {
  margin: 0 auto
}

.footer__list {
  margin: 0 -20px;
  font-size: 14px;
}

.footer__list > li {
  display: inline-block;
  width: 23%;
  padding: 0 20px;
  box-sizing: border-box;
  vertical-align: top;
  color: #a3b1bf;
}

.footer__title {
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
}

.footer__word {
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__about {
  color: #a3b1bf;
}

.footer__image {
  font-size: 0;
}

.footer__image > li{
  display: inline-block;
  width: 50%;
  padding: 3px;
  box-sizing: border-box;
}

.img__hover {
  position: relative;
}

.footer__address {
  text-decoration: none;
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: 20px;
  color: #a3b1bf;
}

.footer__address:before {
  position: absolute;
  left: 0;
  width: 12px;
  height: 13px;
  top: 2px;
  content: "";
}

.footer__address:hover {
  color: #00bc9c;
}

.footer__address:before {
  background-image: url(../img/footer/icon-address-off.png);
}

.footer__address:hover:before {
  background-image: url(../img/footer/icon-address-on.png);
}

.footer__tel {
  text-decoration: none;
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: 20px;
  color: #a3b1bf;
}

.footer__tel:before {
  position: absolute;
  left: 0;
  width: 12px;
  height: 13px;
  top: 2px;
  content: "";
}

.footer__tel:hover {
  color: #00bc9c;
}

.footer__tel:before {
  background-image: url("../img/footer/icon-tel-off.png");
}

.footer__tel:hover:before {
  background-image: url(../img/footer/icon-tel-on.png);
}

.footer__mail {
  text-decoration: none;
  font-size: 12px;
  position: relative;
  line-height: 14px;
  padding-left: 20px;
  color: #a3b1bf;
}

.footer__mail:before {
  position: absolute;
  left: 0;
  width: 12px;
  height: 13px;
  top: 2px;
  content: "";
}

.footer__mail:hover {
  color: #00bc9c;
}

.footer__mail:before {
  background-image: url(../img/footer/icon-mail-off.png);
}

.footer__mail:hover:before {
  background-image: url(../img/footer/icon-mail-on.png);
}

.mb5 { margin-bottom: 5px; }

.footer__form {
  padding: 5px;
  background-color: #596675;
  position: relative;
}

.footer__input {
  padding-left: 5px;
  color: #fff;
  font-size: 14px;
  /*margin-right: 20px;*/
  opacity: 1;
  background-color: ;
  border: 0;
  margin-right: 2px;
  width: 100%;
  background-color: #596675;
  height: 23px;
    outline: none;
}

.btn__refurbishment {
  position: absolute;
  background-color: #00bc9c;
  color: #fff;
  transition: all .3s;
  box-shadow: 0px 1px 0px 1px #00a085;
  border: none;
  right: 4px;
  bottom: 8px;
  border-style: none;
}

.btn__refurbishment:hover {
  box-shadow: none;
  transform: translate3d(0,2px,0);
}


.btn__small {
  width: 90px;
  font-size: 14px;
  cursor: pointer;
  /*box-shadow: 0 #00bc9c;*/
  text-align: center;
}

.footer__footer {
  background-color: #2e3d4c;
}

.footer__footer__inner {
  line-height: 30px;
  width: 1170px;
  font-size: 14px;
  padding: 30px;
  box-sizing: border-box;
}

.fl {
  float: left;
  color: #506a85;
}

.footer__info {
  font-size: 0;
  float: right;
}

.footer__info > li {
  font-size: 14px;
  display: inline-block;
   color: #506a85;
}

.footer__info >li:not(:first-child):before {
  display: inline-block;
  margin: 0 3px;
  content: "・"
}

.fr {
  float: right;
}

.image__link:hover .footer__link:before {
  display: block;
}

.image__link:hover .footer__link:after {
  display: block;
}

.footer__image {
  margin-right: -25px;
  font-size: 0;

}

.image__link {
  position: relative;
  display: block;
}

.footer__link {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 125px;
  height: 85px;
  background-color: #00bc9c;
  opacity: .9;
  color: #fff;
  font-size: 16px;

}
.footer__mask__cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  width: 100%;
  height: 100%;
}

.image__link:hover .footer__link {
  display: table;
}

.image__margin {
  margin-right: 3px;
}